body {
    background-color: black; /* using background color even if there is background image to meet the assignment rubrics */
    background-image: url(../images/static.gif);
    background-repeat: repeat;
}

a {
    border-style: solid;
    border-radius: 5px;
    border-color: red;
    font-size: 50px;
    background-color: aliceblue;
}

span {
    color: rebeccapurple;
    font-size: 80px;
    position: relative;
    padding: 20px;
}

img {
    width: 30%;
    border-style: dashed;
    padding: 20px;
}

audio {
    display: none;
}

