body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    box-sizing: border-box;
}

header {
    width: 100%;
    text-align: center;
    color: burlywood;
    background-color: aqua;
}

section {
    width: 50%;
}

h2 {
    color: antiquewhite;
}


@media (max-width:600px) {
    section {
        width: 100%;
    }
}

@media (max-width:940px) {

    section {
        font-size: 12px;
    }
    
}

@media (min-width:400px) and (max-width:600px) {
    
    section {
        font-size: 16px;
    }

    header {
        color: aliceblue;
    }
}

@media print {

    header, article, section, h2 {
        display: none;
    }
    
}