body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    box-sizing: border-box;
}

header {
    width: 100%;
	text-align: center;
	color:black;
	height: 110px;
	padding: 50px 0px;
    font-size: large;
	background-color: aqua;
}

section {
    font-weight: 300;
	padding: 30px;
	margin: 0;
	width: 50%;
	font-size: 14px;
	color: #7d7d7d;
	box-sizing: border-box;
    background-color: aliceblue;
}

section.left {
    float: left;
}

section.right {
    float: right;
}

h2 {
    color: rgb(40, 40, 39);
    text-align: center;
}


@media (max-width:600px) {
    section {
        width: 100%;
    }
}

@media (max-width:940px) {

    section {
        color: blueviolet;
        font-size: 12px;
    }
    
}

@media (min-width:400px) and (max-width:600px) {
    
    section {
        font-size: 16px;
    }

    header {
        color: rgb(69, 115, 92);
    }
}

@media print {

    header, article, section, h2 {
        text-decoration: none;
    }

    footer {
        display: none;
    }
    
}